.block {
  position: absolute;
  top: var(--absolute-margin);
  right: var(--absolute-margin);

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  max-width: 100px;

  transition-property: max-width;
  transition-duration: var(--ui-transition-duration);
}

.block:hover {
  max-width: 100%;
}

.sounds {
  max-height: 192px;

  overflow-x: hidden;
  overflow-y: scroll;
}
