.block {
    position: absolute;
    left: var(--absolute-margin);
    bottom: var(--absolute-margin);
  
    display: flex;
    gap: var(--square-buttons-gap);
  }
  /* Блок управления громкостью */
.volumeControl {
  display: flex;
  align-items: center;
  gap: 5px; 
}

/* Иконка громкости */
.volumeIcon {
  font-size: 24px;
}

/* Слайдер громкости */
.volumeSlider {
  width: 100px; 
  height: 4px; 
  accent-color: #6ca8ee; 
  background-color: #d3d3d3; 
  outline: none; 
  border-radius: 4px; 
}

/* Слайдер при наведении */
.volumeSlider:hover {
  cursor: pointer;
}