/* Анимация для выезжания модального окна */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Занимает всю высоту экрана */
  background-color: var(--transparent-grey-1); /* Полупрозрачный фон */
  display: flex;
  flex-direction: column; /* Располагаем элементы вертикально */
  justify-content: flex-start; /* Выравниваем элементы по верху */
  align-items: center; /* Центрируем по горизонтали */
  z-index: 1000;
  transform: translateY(100vh); /* Изначально скрыто внизу */
  transition: transform var(--modal-transition-duration) ease-out; /* Анимация для transform */
  padding: var(--absolute-padding); /*Отступы внутри модального окна */
}

.modalContainer.open {
  transform: translateY(0); /* Поднимаем наверх */
}

.modalContainer.closed {
  transform: translateY(300vh); /* Скрываем внизу */
}

/* Блок заголовка и кнопки закрытия */
.modalHeader {
  width: 100%;
  /* Ограничиваем ширину контента */
  display: flex;
  align-items: center; /* Выравнивание элементов по центру вертикали */
  justify-content: space-between; /* Расположение элементов по разные стороны */
}

/* Надпись в левом верхнем углу */
.label {
  font-size: var(--modal-title);
  font-weight: 400;
  color: var(--white);
  margin: 0; /* Убираем стандартные отступы текста */
}

/* Стили для контейнера контента */
.modalBody {
  width: 100%;
  overflow-y: auto; /* Добавляем скролл при необходимости */
  padding: calc(var(--absolute-padding) + 5px);
}
