.manual {
  display: flex;
  margin: 10px 0;
}

.left {
  max-width: 280px;

  border-right: 1px solid var(--white);
}

.logo {
  text-align: center;

  border-bottom: 1px solid var(--white);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.navLink {
  padding: 3px 8px;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--ui-transition-duration);
}

.navLink:hover {
  background-color: var(--transparent-white);
}

.body {
  width: 100%;
  margin-left: 10px;

  overflow-y: auto;
}
