.inputField {
  padding: 0 3px;

  background-color: var(--grey-3);
  border: 1px solid transparent;
  border-radius: var(--border-radius-big);

  outline: none;
}

.inputField:focus {
  border: 1px solid var(--blue);
}

/* Убираем стрелочки справа у NumberInput */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
