.slider {
  height: var(--square-button-size);

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/***** Track Styles *****/

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider::-webkit-slider-runnable-track {
  width: 5px;

  background: var(--white);
  border-radius: var(--border-radius-big);
}

/******** Firefox ********/
.slider::-moz-range-track {
  width: 5px;

  background: var(--white);
  border-radius: var(--border-radius-big);
}

/***** Thumb Styles *****/

/***** Chrome, Safari, Opera, and Edge Chromium *****/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 15px;
  height: 5px;
  margin-top: -12px;

  background-color: var(--white);
}

/***** Firefox *****/
.slider::-moz-range-thumb {
  width: 15px;
  height: 5px;

  background-color: var(--white);
  border: none;
  border-radius: 0;
}
