/* App.module.css */

.videoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Помещаем фон под всеми компонентами */
  overflow: hidden;
  pointer-events: none; /* Блокируем взаимодействие с видео */
}

.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-black); /* Используем переменную */
  z-index: -0.5; /* Помещаем блок между видео и основным контентом */
  pointer-events: none; /* Блокируем взаимодействие */
}
.videoPlayer {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  min-width: '100%';
  min-height: '100%';
  object-fit: 'cover';
}
