.block {
  position: absolute;
  top: var(--absolute-margin);
  left: var(--absolute-margin);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 372px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inactiveBackButton {
  border: 1px solid var(--red) !important;
  background-color: var(--transparent-red) !important;
}

.timerPage {
  flex-direction: column;
  max-height: 291px;
  margin: 15px;
}

.timer {
  justify-content: center;
  align-items: center;
}

.stages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.stage {
  padding: 3px 5px;

  text-transform: capitalize;

  border: 1px solid transparent;
  border-radius: var(--border-radius-small);

  transition-property: border, background-color;
  transition-duration: var(--ui-transition-duration);

  cursor: pointer;
}

.stage:hover {
  background-color: var(--grey-3);
}

.activeStage {
  background-color: var(--grey-3);
  border: 1px solid var(--white);
}

.time {
  margin: 15px 0;

  font-size: 45px;
  text-align: center;
}

.button {
  margin-bottom: 15px;
}

.completedPomodoros {
  align-self: flex-start;
}

.settings {
  gap: 10px;

  /* overflow-y: scroll; */
}

.settingsBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 5px;
}

.settingsBlockTitle {
  text-transform: uppercase;

  border-bottom: 1px solid var(--white);
}

.inputLabel {
  margin-bottom: 3px;

  text-transform: capitalize;
}

.checkboxBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  text-transform: capitalize;

  user-select: none;
}

.checkbox {
  width: 15px;
  height: 15px;

  accent-color: var(--blue);
}

.foldTime {
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 var(--transparent-black),
    1px -1px 0 var(--transparent-black),
    -1px 1px 0 var(--transparent-black),
    1px 1px 0 var(--transparent-black);
}
